.guest-wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
    text-transform: uppercase
}

.guest-wrapper .guest-wrapper_img {
    background-image: url(./assets/banner.jpg) ;
    background-repeat: no-repeat;
    background-size: contain;
    width: 400px;
    height: 300px;
}