@import url(./variables/css/color.css);

* {
    font-family: 'Roboto';
    text-decoration: none;
    margin: 0px;
    padding: 0px;
    color: var(--black);
    font-style: normal;
    font-weight: normal;
}

*,
*::before,
*::after {
    box-sizing: inherit;
}

#root{
    width: 1200px;
    margin: auto;
}